# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# CMake build directories
cmake-build-debug/
cmake-build-release/

# Compiled binaries
*.exe
*.out
*.obj
*.o
*.dll
*.a

# CLion / CMake cache
CMakeCache.txt
CMakeFiles/
